@page "/technicians/new"
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@inherits NewTechnicianPageBase

@namespace RapportinoServer.Pages.Technicians

<PageTitle>Nuovo Tecnico</PageTitle>

<div class="technician-page">

    <h1 class="technician-page__title">Nuovo Tecnico</h1>

    <EditForm EditContext="EditContext" OnValidSubmit="HandleValidSubmit" class="technician-form">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <!-- Nome -->
        <div class="form__group form__group--full">
            <label class="form__label">Nome Tecnico</label>
            <InputText class="form__input" @bind-Value="Technician.TechnicianName" />
            <ValidationMessage For="@(() => Technician.TechnicianName)" />
        </div>

        <!-- Cognome -->
        <div class="form__group form__group--full">
            <label class="form__label">Cognome</label>
            <InputText class="form__input" @bind-Value="Technician.Surname" />
            <ValidationMessage For="@(() => Technician.Surname)" />
        </div>

        <!-- Username -->
        <div class="form__group form__group--full">
            <label class="form__label">Username</label>
            <InputText class="form__input" @bind-Value="Technician.Username" />
            <ValidationMessage For="@(() => Technician.Username)" />
        </div>

        <!-- Password -->
        <div class="form__group form__group--full">
            <label class="form__label">Password</label>
            <InputText type="password" class="form__input" @bind-Value="Technician.Password" />
            <ValidationMessage For="@(() => Technician.Password)" />
        </div>

        <!-- Ruolo -->
        <div class="form__group form__group--full">
            <label class="form__label">Ruolo</label>
            <InputText class="form__input" @bind-Value="Technician.Role" />
            <ValidationMessage For="@(() => Technician.Role)" />
        </div>

        <!-- Botões -->
        <div class=" group--buttons form__group--full">

                <button class="btn btn--primary btn--save" type="submit" disabled="@IsSaving">
                    @if (IsSaving)
                    {
                        <span class="loader loader--small"></span>
                    }
                    Salva
                </button>

        </div>
        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <div class="alert alert--error">@ErrorMessage</div>
        }
    </EditForm>
</div>
